<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sbiErsOracleApiMapper">
	<select id="ersWaitingTime">
		SELECT WAITING
		, RESERVED2
		, 'Y' as COUNSELOR_YN
		FROM ERS.R_SKL
		WHERE SKL='Customer_SK'
		AND EXISTS (SELECT 1 FROM ERS.R_SKL WHERE SKL='Customer_SK')
		UNION ALL
		SELECT 0 as WAITING
		, 0 as RESERVED2
		, 'N' as COUNSELOR_YN
		FROM dual
		WHERE NOT EXISTS (SELECT 1 FROM ERS.R_SKL WHERE SKL='Customer_SK')
	</select>
	<select id="ersServiceCode">
		SELECT DNIS
		, STEP
		, SERVICECODE
		, SERVICECODENAME
		FROM ERS.U_IVRSERVICECODEINFO
		WHERE TENANT = '71101'
		<!--
		AND DNIS = '55555'
		ORDER BY SORT
		-->
		AND DNIS IN('55555', '50501')
		ORDER BY DNIS, SORT
	</select>
	<select id="chkHoliday">
		SELECT CODE, DATETYPE, STARTTIME, ENDTIME, L_STARTTIME, L_ENDTIME
		FROM ERS.IPCC_IVR_WORKTIME
		WHERE CODE = #{code}
		AND DATETYPE = (SELECT CASE WHEN aa.DATETIME IS NOT NULL THEN '8' ELSE #{dateType} END AS T
		FROM (SELECT * FROM (SELECT CASE WHEN hh.HOLIGUBUN = '0' THEN CONCAT(#{year},TO_CHAR(hh.DATETIME)) ELSE TO_CHAR(hh.DATETIME) END as DATETIME
		FROM (SELECT CODE, DATETIME, DESCRIPTION, HOLIGUBUN, MENT FROM ERS.IPCC_IVR_HOLIDAY ORDER BY CODE, DATETIME ASC ) hh
		) hlist
		WHERE hlist.DATETIME = #{today}
		UNION ALL
		SELECT NULL AS DATETIME FROM dual
		WHERE NOT EXISTS (SELECT * FROM (SELECT CASE WHEN hh.HOLIGUBUN = '0' THEN CONCAT(#{year},TO_CHAR(hh.DATETIME)) ELSE TO_CHAR(hh.DATETIME) END as DATETIME
		FROM (SELECT CODE, DATETIME, DESCRIPTION, HOLIGUBUN, MENT FROM ERS.IPCC_IVR_HOLIDAY ORDER BY CODE, DATETIME ASC) hh
		) hlist
		WHERE hlist.DATETIME = #{today})
		) aa
		)
	</select>
</mapper>
